
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <h1 style="text-align: center">Hello, Welcome to the about page.</h1>
          <h2 style="padding-top: 35px"><u>About Me</u></h2>
          <p>My Name is Zhenhui He, and my student number is: 176117216.</p>
          <p>I am currently enrolled in the DAD program at Seneca. &#128512;</p>
          <!-- End your code here  -->
        </main>
      </div>
    