<!DOCTYPE html>
<html>
  <head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Zhenhui He</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item active">
            <a class="nav-link" href="/htmlDemo">Html Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/add">Add Student</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/allstudents">All Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student/3">Student By Number</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students?course=5">Students By Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tas">Teaching Assistants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <h1 class="demoTitle"><u>HTML Demo</u></h1>
          <br />
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Claudette</td>
                <td>Ancketill</td>
                <td>cancketill0@msn.com</td>
              </tr>

              <tr>
                <td>Kelcy</td>
                <td>Van Der Hoog</td>
                <td>kvanderhoog1@utexas.edu</td>
              </tr>

              <tr>
                <td>Sibilla</td>
                <td>Willets</td>
                <td>swillets2@unesco.org</td>
              </tr>

              <tr>
                <td>Boy</td>
                <td>Schirok</td>
                <td>bschirok3@twitter.com</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Philis</td>
                <td>Barlow</td>
                <td>pbarlow4@myspace.com</td>
              </tr>
            </tfoot>
          </table>

          <!-- End your code here  -->
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
